:root {
  --square-color: #885727;
  --square-bomb-color: #ff0909;
  --square-current-color: rgb(117, 114, 114);
  --square-growth-black-color: #0c4204;
  --square-growth-black-opacity: 0.9;
  --square-growth-white-color: #20f708;
  --square-growth-white-opacity: 0.9;
  --square-frozen-color: #70c8dc;
  --square-frozen-opacity: 0.8;
  --piece-color: #FFFFFF, transparent;
  --piece-winner-color: #2c09c9;
  --piece-white-frozen-opacity: 0.9;
  --piece-black-frozen-opacity: 0.9;
  --piece-white-frozen-background: linear-gradient(45deg, #615ceb, #5cdad5);
  --piece-black-frozen-background: linear-gradient(45deg, #20046f, #0f7e7a);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.square {
  background: var(--square-color);
  background-image: url('/public/picture/square.png');
  background-size: cover;
  /* 让背景图片占满整个元素 */
  background-position: center;
  /* 将背景图片居中显示*/
  border: none;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  height: 30px;
}

.square:hover {
  background: rgb(203, 194, 23);
}

.square-bomb {
  background: var(--square-bomb-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.square-bomb:hover {
  background: rgb(203, 194, 23);
}

.square-growth-black {
  background: var(--square-growth-black-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  opacity: var(--square-growth-black-opacity);
}

.square-growth-black:hover {
  background: rgb(203, 194, 23);
}

.square-growth-white {
  background: var(--square-growth-white-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  opacity: var(--square-growth-white-opacity);
}

.square-growth-white:hover {
  background: rgb(203, 194, 23);
}

.square-current-piece {
  background: var(--square-current-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.square-frozen {
  background: var(--square-frozen-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  opacity: var(--square-frozen-opacity);
}

.piece-blank {
  width: 90%;
  height: 90%;
  background-color: var(--piece-color);
  border-radius: 50%;
  display: block;
  margin: 1px;
}

.piece-bomb {
  width: 100%;
  height: 100%;
  background-color: var(--piece-color);
  background-image: url('/public/picture/bomb.png');
  background-size: cover;
  /* 让背景图片占满整个元素 */
  background-position: center;
  /* 将背景图片居中显示*/
  display: block;
}

.piece-black {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-black-frozen {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
  opacity: var(--piece-black-frozen-opacity);
  background: var(--piece-black-frozen-background);
}

.piece-white {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-white-frozen {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
  opacity: var(--piece-white-frozen--opacity);
  background: var(--piece-white-frozen-background);
}

.piece-winner {
  width: 100%;
  height: 100%;
  background-color: var(--piece-winner-color);
  border-radius: 50%;
  border-color: rgb(232, 6, 6);
  border-width: 2px;
  /* 设置边框宽度为5像素，根据需要调整 */
  border-style: solid;
  /* 设置边框样式为实线，根据需要调整 */
  display: block;
}

.piece-black-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-black-can-not-be-destroyed-frozen {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
  opacity: var(--piece-black-frozen--opacity);
  background: var(--piece-black-frozen-background);
}

.piece-white-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-white-can-not-be-destroyed-frozen {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
  opacity: var(--piece-white-frozen-opacity);
  background: var(--piece-white-frozen-background);
}

.piece-name {
  font-size: 1.5em;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.item-name {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  /* 设置文字阴影 */
  /* 如果浏览器支持，你也可以尝试使用 text-stroke */
  -webkit-text-stroke: 1px rgb(111, 75, 75);
  /* 设置文字描边 */
  -moz-text-stroke: 1px rgb(96, 61, 61);
  -ms-text-stroke: 1px rgb(81, 47, 47);
  -o-text-stroke: 1px rgb(88, 44, 36);
  font-size: 1em;
}

.span-blank {
  margin-right: 100px;
}

.status {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container>* {
  margin-right: 10px;
  /* 设置按钮之间的间距 */
}

.game {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  width: 100%;
  height: 100vh;
  /* 如果希望填满视口 */
}

.game-info {
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  /* 设置背景颜色并添加透明度 */
  backdrop-filter: blur(10px);
  /* 添加背景模糊效果 */
  border-radius: 10px;
  /* 设置边框圆角 */
  padding: 10px;
  /* 内边距 */
  margin-bottom: 10px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}