:root {
  --square-color: #885727;
  --square-bomb-color: #ff0909;
  --square-current-color: rgb(255, 128, 0), transparent;
  --square-growth-black-color: #0c4204;
  --square-growth-white-color: #20f708;
  --piece-color: #FFFFFF, transparent;
  --piece-winner-color: #2c09c9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.square {
  background: var(--square-color);
  border: 1px solid #0f0e0e;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:hover {
  background: rgb(203, 194, 23);
}

.square-bomb {
  background: var(--square-bomb-color);
  border: 1px solid #0f0e0e;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-bomb:hover {
  background: rgb(203, 194, 23);
}

.square-growth-black {
  background: var(--square-growth-black-color);
  border: 1px solid #0f0e0e;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-growth-black:hover {
  background: rgb(203, 194, 23);
}

.square-growth-white {
  background: var(--square-growth-white-color);
  border: 1px solid #0f0e0e;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-growth-white:hover {
  background: rgb(203, 194, 23);
}

.square-current-piece {
  background: var(--square-current-color);
  border: 1px solid #0f0e0e;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.piece-blank {
  width: 90%;
  height: 90%;
  background-color: var(--piece-color);
  border-radius: 50%;
  display: block;
  margin: 1px;
}

.piece-black {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-white {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-winner {
  width: 100%;
  height: 100%;
  background-color: var(--piece-winner-color);
  border-radius: 50%;
  border-color: rgb(232, 6, 6);
  border-width: 2px;
  /* 设置边框宽度为5像素，根据需要调整 */
  border-style: solid;
  /* 设置边框样式为实线，根据需要调整 */
  display: block;
}

.piece-black-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-white-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}