:root {
  --square-size: 1.39em;
  --square-color: #885727;
  --square-bomb-color: #ff0909;
  --square-current-color: #885727;
  --square-growth-black-color: #0c4204;
  --square-growth-black-opacity: 0.9;
  --square-growth-white-color: #2dcd55;
  --square-growth-white-opacity: 0.9;
  --square-frozen-color: #70c8dc;
  --square-frozen-opacity: 0.8;
  --piece-color: #FFFFFF, transparent;
  --piece-winner-color: #2c09c9;
  --piece-white-frozen-opacity: 0.8;
  --piece-black-frozen-opacity: 0.8;
  --piece-white-frozen-background: linear-gradient(45deg, #827fbe, #a0e1df);
  --piece-black-frozen-background: linear-gradient(45deg, #432499, #105957);
  --piece-black-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3),
    /* 中间 */
    10px 0 10px 5px rgba(0, 0, 0, 0.3),
    /* 右 */
    -10px 0 10px 5px rgba(0, 0, 0, 0.3),
    /* 左 */
    0 10px 10px 5px rgba(0, 0, 0, 0.3),
    /* 下 */
    0 -10px 10px 5px rgba(0, 0, 0, 0.3);
  /* 上 */
  /* 上 */
  --piece-white-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3),
    /* 中间 */
    10px 0 10px 5px rgba(255, 255, 255, 0.3),
    /* 右 */
    -10px 0 10px 5px rgba(255, 255, 255, 0.3),
    /* 左 */
    0 10px 10px 5px rgba(255, 255, 255, 0.3),
    /* 下 */
    0 -10px 10px 5px rgba(255, 255, 255, 0.3);
  /* 上 */
  --item-used-status-span-color: green;

  --gamelog-button-width: 70vh;
  --highest-online-users-background: linear-gradient(45deg, #ff5722, #e91e63, #9c27b0, #2196f3, #00bcd4, #4CAF50, #8BC34A, #FFC107, #FF5722);

  --login-button-span-background-color: none;

  --avatar-img-animation: glitter 0.8s infinite alternate;

  --video-container-flex-direction: column;
  --overlay-notice-board-height: 2rem;
  --overlay-notice-board-width: 52%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.square {
  background: var(--square-color);
  background-image: url('/public/picture/square.png');
  background-size: cover;
  /* 让背景图片占满整个元素 */
  background-position: center;
  /* 将背景图片居中显示*/
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  height: var(--square-size);
}

.square:hover {
  background: rgb(110, 110, 110);
}

.square-bomb {
  background: var(--square-bomb-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
}

.square-bomb:hover {
  background: rgb(203, 194, 23);
}

.square-growth-black {
  background: var(--square-growth-black-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  opacity: var(--square-growth-black-opacity);
}

.square-growth-black:hover {
  background: rgb(203, 194, 23);
}

.square-growth-white {
  background: var(--square-growth-white-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  opacity: var(--square-growth-white-opacity);
}

.square-growth-white:hover {
  background: rgb(203, 194, 23);
}

.square-current-piece {
  background: var(--square-current-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
}

.square-frozen {
  background: var(--square-frozen-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  opacity: var(--square-frozen-opacity);
}

.piece-blank {
  width: 90%;
  height: 90%;
  background-color: var(--piece-color);
  border-radius: 50%;
  display: block;
  margin: 1px;
}

.piece-bomb {
  width: 100%;
  height: 100%;
  background-color: var(--piece-color);
  background-image: url('/public/picture/bomb.png');
  background-size: cover;
  /* 让背景图片占满整个元素 */
  background-position: center;
  /* 将背景图片居中显示*/
  display: block;
}

.piece-black {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-black-with-sword {
  background-image: url(/public/picture/sword.jpg);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);

  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid black;
  box-shadow: var(--piece-black-box-shadow);
}

.piece-black-with-bow {
  background-image: url(/public/picture/bow.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);

  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid black;
  box-shadow: var(--piece-black-box-shadow);
}

.piece-black-with-infectPotion {
  background-image: url(/public/picture/infectPotion.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);

  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid black;
  box-shadow: var(--piece-black-box-shadow);
}

.piece-black-frozen {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
  opacity: var(--piece-black-frozen-opacity);
  background: var(--piece-black-frozen-background);
}

.piece-white {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-white-with-sword {
  background-image: url(/public/picture/sword.jpg);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid white;
  box-shadow: var(--piece-white-box-shadow);
}

.piece-white-with-bow {
  background-image: url(/public/picture/bow.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid white;
  box-shadow: var(--piece-white-box-shadow);
}

.piece-white-with-infectPotion {
  background-image: url(/public/picture/infectPotion.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid white;
  box-shadow: var(--piece-white-box-shadow);
}

.piece-white-frozen {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
  opacity: var(--piece-white-frozen--opacity);
  background: var(--piece-white-frozen-background);
}

.piece-winner {
  width: 90%;
  height: 90%;
  background-color: var(--piece-winner-color);
  border-radius: 50%;
  border-color: rgb(232, 6, 6);
  border-width: 3px;
  /* 设置边框宽度为5像素，根据需要调整 */
  border-style: solid;
  /* 设置边框样式为实线，根据需要调整 */
  display: block;
}

.piece-black-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-black-can-not-be-destroyed-frozen {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
  opacity: var(--piece-black-frozen--opacity);
  background: var(--piece-black-frozen-background);
}

.piece-white-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-white-can-not-be-destroyed-frozen {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
  opacity: var(--piece-white-frozen-opacity);
  background: var(--piece-white-frozen-background);
}

.piece-name {
  font-size: 1.5em;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.item-name-button {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  /* 设置文字阴影 */
  /* 如果浏览器支持，你也可以尝试使用 text-stroke */
  -webkit-text-stroke: 1px var(--item-used-status-span-color);
  /* 设置文字描边 */
  -moz-text-stroke: 1px var(--item-used-status-span-color);
  -ms-text-stroke: 1px var(--item-used-status-span-color);
  -o-text-stroke: 1px var(--item-used-status-span-color);
  font-size: 0.8em;
}

/* .item-used-status-span {
  color: var(--item-used-status-span-color);
  margin-left: 6px;
} */

.span-blank {
  margin-right: 10px;
}

.piece-status {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.button-normal {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #2b2a2a;
  background-color: #d6c1c1;
  /* 按钮背景色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* 添加轻微阴影 */
  transition: background-color 0.3s, color 0.3s;
  /* 添加悬停效果过渡 */
}

.button-normal[disabled] {
  background-color: #dddddd;
  /* 设置禁用状态背景色为灰色 */
  color: #999999;
  /* 设置禁用状态文字颜色为灰色 */
  cursor: not-allowed;
  /* 设置禁用状态鼠标样式为禁止 */
}

/* 悬停效果 */
.button-normal:not([disabled]):hover {
  background-color: #45a049;
}

.button-exit {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ff0000;
  background-color: #d6c1c1;
  /* 按钮背景色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* 添加轻微阴影 */
  transition: background-color 0.3s, color 0.3s;
  /* 添加悬停效果过渡 */
}

/* 悬停效果 */
.button-exit:not([disabled]):hover {
  background-color: #eaff00;
}

.button-container {
  display: flex;
  align-items: center;
  z-index: 999;
}

.button-container>* {
  margin-left: 5px;
  margin-right: 5px;
  /* 设置按钮之间的间距 */
}

.button-confirm-container {
  display: flex;
  justify-content: flex-end;
  /* 将项目在主轴上居右对齐 */
  z-index: 999;
}

.button-confirm-container>* {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* 设置按钮之间的间距 */
}

.game {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  width: 100%;
  /* height: 100vh; */
  /* 如果希望填满视口 */
  margin-top: 0px;
  margin-bottom: 5px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info-parent {
  display: flex;
  flex-direction: row;
}

.game-info {
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  /* 设置背景颜色并添加透明度 */
  backdrop-filter: blur(10px);
  /* 添加背景模糊效果 */
  border-radius: 10px;
  /* 设置边框圆角 */
  padding: 5px;
  /* 内边距 */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  z-index: 1001;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.game-container {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100vh;
  /* 填满整个视口高度 */
}

/*计时器*/
.timer {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  color: red;
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

/*游戏操作日志*/
.gamelog-button {
  border: 2px solid #ccc;
  color: rgb(255, 255, 255);
  background-color: rgba(150, 138, 138, 0.5);
  /* 设置背景颜色并添加透明度 */
  backdrop-filter: blur(10px);
  /* 添加背景模糊效果 */
  border-radius: 10px;
  /* 设置边框圆角 */
  padding: 5px;
  /* 内边距 */
  margin-bottom: 5px;
  width: var(--gamelog-button-width);
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.gamelog-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.gamelog-modal {
  background: #ada5a5;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  position: relative;
  overflow-y: auto;
  /* 添加垂直滚动条 */
}

.gamelog-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.gamelog-black-piece {
  color: red;
}

.gamelog-white-piece {
  color: blue;
}

/* 道具详情弹窗 */
.item-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* 使弹窗位于最顶层 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 设置一个较高的 z-index 值 */
}

.item-info {
  background: #ada5a5;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  position: relative;
  overflow-y: auto;
  /* 添加垂直滚动条 */
  font-weight: normal;
}

.item-info-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* 开局弹窗 */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.5s ease;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cancel-button {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #ff1744;
}

.loading-text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

/* 菜单 */
.menu-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100%;
  max-width: 100%;
}

.menu-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 炫酷标题1 */
.menu-header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* 设置 Sans-serif 字体族 */
  font-size: 48px;
  color: #ffffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff;
  animation: swirl 3s infinite linear;
}

@keyframes swirl {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* 为每个字母应用不同的动画 */
.menu-header h1 span {
  display: inline-block;
}

/* 定义随机抖动动画 */
@keyframes shake-x {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes shake-y {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* 应用动画到每个字母 */
.menu-header h1 span[class^="letter-"] {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.menu-header h1 span[class^="letter-"].letter-0 {
  animation-name: shake-x;
}

.menu-header h1 span[class^="letter-"].letter-1 {
  animation-name: shake-y;
}

.menu-header h1 span[class^="letter-"].letter-2 {
  animation-name: shake-x;
}

.menu-header h1 span[class^="letter-"].letter-3 {
  animation-name: shake-y;
}

.menu-header h1 span[class^="letter-"].letter-4 {
  animation-name: shake-x;
}

/* 炫酷标题2 */
.menu-header2 h1 {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* 为每个字母应用不同的动画 */
.menu-header2 h1 span {
  display: inline-block;
  margin: 6px;
  display: inline-block;
  font-size: 36px;
  /* 增加字体大小 */
  color: white;
  /* 可选：添加字体，以确保在没有默认字体的情况下有一个备选字体 */
  font-family: 'Arial', sans-serif;
}

/* 定义随机抖动动画 */
@keyframes shake-x {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes shake-y {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* 应用动画到每个字母 */
.menu-header2 h1 span[class^="letter-"] {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.menu-header2 h1 span[class^="letter-"].letter-0 {
  animation-name: shake-x;
}

.menu-header2 h1 span[class^="letter-"].letter-1 {
  animation-name: shake-y;
}

.menu-header2 h1 span[class^="letter-"].letter-2 {
  animation-name: shake-x;
}

.menu-header2 h1 span[class^="letter-"].letter-3 {
  animation-name: shake-y;
}

.menu-header2 h1 span[class^="letter-"].letter-4 {
  animation-name: shake-x;
}


.menu-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-item {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;

  padding: 10px;
  background-color: rgba(174, 198, 214, 1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(215, 202, 202, 0.6) 20%, transparent 70%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: multipleRipple 4s linear infinite;
  pointer-events: none;
}

@keyframes multipleRipple {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.menu-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0d9d2, #e91e63, #9c27b0, #2196f3, #00bcd4, #4CAF50, #8BC34A, #FFC107, #FF5722);
  top: 0;
  left: 0;
  z-index: -1;
  animation: rainbow 20s linear infinite;
  background-size: 300% 300%;
}

.menu-item:hover {
  transform: scale(1.05);
}


.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

.menu-item p {
  color: #666;
}

.menu-item button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item button:hover {
  background-color: #48ae31;
}

.menu-item button:hover:not(:disabled) {
  background-color: #48ae31;
}

.menu-item button:disabled {
  background-color: #6f6f6f;
  cursor: not-allowed;
}

/* 菜单footer */
.menu-footer {
  /* position: fixed; */
  margin-top: auto;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: #ffffff, transparent;
  color: #5d5656;
  padding: 20px;
  text-align: center;
  /* 使用百分比宽度 */
}

.menu-footer::before {
  content: '';
  position: absolute;
  top: -1px;
  /* 边框位置 */
  left: 50%;
  /* 边框水平居中 */
  width: 80%;
  /* 边框宽度 */
  border-top: 1px solid #ccc;
  /* 边框样式 */
  transform: translateX(-50%);
  /* 水平居中 */
}

.record-number {
  color: #fff;
  /* 设置备案号字体颜色为白色 */
  text-decoration: none;
  /* 移除超链接的下划线 */
}

.github-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.github-info p {
  margin-bottom: 5px;
}

.github-info a {
  color: #5c1a1a;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.github-info a:hover {
  color: #007bff;
}

/* 在线信息 */
.highest-online-users {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  position: fixed;
  /* 将定位改为固定定位 */
  top: 20px;
  /* 距离顶部的距离 */
  right: 20px;
  /* 距离右侧的距离 */
  overflow: hidden;
  font-family: "Arial", "Helvetica", sans-serif;
  /* 更改字体族 */
}

.highest-online-users .count {
  font-weight: bold;
  margin-right: 10px;
  animation: heartbeat 1.5s infinite alternate;
}

.highest-online-users .icon {
  font-size: 16px;
  vertical-align: middle;
}

.highest-online-users .disconnected {
  font-family: Arial, sans-serif;
  /* 设置字体大小 */
  font-weight: bold;
  /* 设置字体加粗 */
  color: #b3acac;
  /* 设置字体颜色为红色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* 添加文字阴影效果 */
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

.highest-online-users::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--highest-online-users-background);
  top: 0;
  left: 0;
  z-index: -1;
  animation: rainbow 10s linear infinite;
  background-size: 300% 300%;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* 设置 */
.settings-container {
  position: relative;
  display: flex;
  /* 垂直居中 */
}

.settings-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #4c3a3a;
  /* 按钮背景色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* 添加轻微阴影 */
  transition: background-color 0.3s, color 0.3s;
  /* 添加悬停效果过渡 */
}

/* 悬停效果 */
.settings-button:not([disabled]):hover {
  background-color: #02535c;
}

.settings-dropdown {
  position: absolute;
  top: 40px;
  /* 与按钮之间的间距 */
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 160px;
}

/* 设置下拉框中组件的样式 */
.settings-dropdown>* {
  margin-bottom: 8px;
  /* 组件之间的间距 */
}

/* 登录组件 */
.loginButton {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  position: fixed;
  /* 将定位改为固定定位 */
  top: 20px;
  /* 距离顶部的距离 */
  left: 20px;
  /* 距离右侧的距离 */
  overflow: hidden;
  font-family: "Arial", "Helvetica", sans-serif;
  /* 更改字体族 */
  cursor: pointer;
  touch-action: manipulation;
}

.loginButton::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 300% 300%;
}

.loginButton:active {
  outline: none;
  /* 取消点击时的默认外边框 */
}

.loginButton span {
  font-size: 32px;
  /* 将字体大小调整为原来的两倍 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* 添加阴影效果 */
  background: var(--login-button-span-background-color);
  /* 添加高亮效果 */
  border-radius: 50%;
  /* 圆角效果 */
  padding: 5px;
  /* 增加内边距 */
}

/* 数据表 */
.table-menu {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.table-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 94%;
  /* 使用百分比宽度 */
  overflow: auto;
  /* 允许水平滚动 */

  /* 根据需要设置上边距值 */
}

/* 玩家头像 */
.player-avatar {
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  align-items: center;
  margin-top: 30px;
  /* 水平居中对齐 */
}

.avatar-img {
  animation: var(--avatar-img-animation);
  /* 添加激光、心跳和闪光动画 */
  transition: transform 0.2s ease-in-out;
  /* 添加鼠标悬停时的过渡效果 */
}

@keyframes glitter {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(1.2);
    /* 调整亮度 */
  }
}

.avatar-img:hover {
  transform: scale(1.1);
  /* 鼠标悬停时放大图片 */
}

/* 聊天板 */
.chat-panel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* 半透明背景 */
  z-index: 1999;
  /* 设置为比其他元素更高的 z-index 值 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-panel {
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(77, 69, 69);
}

.chatpanel-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: red;
  border: none;
}

.message-container {
  height: 60vh;
  overflow-y: scroll;
  /* 隐藏滚动条 */
  display: flex;
  flex-direction: column;
}


/* 隐藏滚动条样式 */
.message-container::-webkit-scrollbar {
  width: 0;
  /* 隐藏滚动条宽度 */
  background: transparent;
  /* 背景透明 */
}

.message {
  padding: 8px 12px;
  margin-bottom: 8px;
  max-width: 75%;
  display: inline-block;
  word-wrap: break-word;
  /* 自动换行 */
  overflow-wrap: break-word;
  /* 兼容性更好的自动换行 */
}

.message.me {
  background-color: #85f785;
  align-self: flex-end;
  /* 垂直居底 */
  align-items: flex-end;
  /* 水平居右 */
  display: inline-block;
  /* 自动调整大小 */
  margin-bottom: 10px;
  /* 添加底部间距 */
  margin-left: auto;
  /* 贴着右边框 */
  word-wrap: break-word;
  /* 自动换行 */
  overflow-wrap: break-word;
  /* 兼容性更好的自动换行 */
  border-radius: 10px 0 0 10px;

}

.message.other {
  background-color: #f1d7d7;
  align-self: flex-start;
  /* 垂直居顶 */
  align-items: flex-start;
  /* 水平居左 */
  text-align: left;
  margin-bottom: 10px;
  margin-right: auto;
  /* 贴着左边框 */
  word-wrap: break-word;
  /* 自动换行 */
  overflow-wrap: break-word;
  /* 兼容性更好的自动换行 */
  border-radius: 0 10px 10px 0;
  /* 左上和左下圆角 */
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-container textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.input-container button {
  padding: 8px 16px;
  background-color: #3eb642;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* 视频通话 */
.video-chat-view {
  overflow-y: scroll;
  /* 始终显示滚动条 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE和Edge */
  display: flex;
  flex-direction: column;
}

.video-chat-view::-webkit-scrollbar {
  display: none;
  /* 隐藏Chrome和Safari的滚动条 */
}

.container {
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  justify-content: center;
  /* 可选：让容器铺满整个视口 */
  align-items: center;
  /* 垂直居中 */
  gap: 20px;
  /* 设置组件之间的间距 */
  margin-top: 10px;
  min-height: 90vh;
}

.myId {
  margin-top: auto;
  border-radius: 5px;
  background: #c9d6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #e2e2e2,
      #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 10px;
  /* 防止水平溢出和水平滚动条出现 */
  overflow-x: hidden;
  max-width: 98vw;
  margin-bottom: 1rem;
}

.call-button {
  text-align: center;
}

.video-container {
  max-width: 96vw;
  max-height: 80vh;
  display: flex;
  flex-direction: var(--video-container-flex-direction);
  justify-content: left;
  align-content: top;
  gap: 0px;
  border: 1px solid black;
  background-color: rgb(116, 100, 100);
  /* padding: 2rem; */
  overflow-x: scroll;
  /* 启用水平滚动条 */
  overflow-y: scroll;
  /* 禁用垂直滚动条 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  flex-wrap: wrap;
  /* 启用自动换行 */
}

.video-container::-webkit-scrollbar {
  display: none;
  /* 隐藏Chrome和Safari的滚动条 */
}

/* 修改此处以应对宽屏，改为自动缩放 */
.video-container .video {
  position: relative;
  object-fit: contain;
  border: none;
  /* width: 50%; */
  /* 或者其他适当的 object-fit 属性值 */
  /* 按比例缩放视频，保持长宽比，同时填充整个容器 */
}

.caller {
  text-align: center;
  color: #000000;
}

.modal-overlay-receive-call {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2001;
}

.modal-receive-call {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.audio-device-selector-container {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1d;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
  width: 300px;
  margin: auto;
}

.audio-device-selector-container .icon {
  min-width: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2b2b2e;
  color: #fff;
  border: none;
}

.selected-device {
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;
  opacity: 0.8;
}

.video-device-selector-container {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1d;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
  width: 300px;
  margin: auto;
}

.video-device-selector-container .icon {
  min-width: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* 底部遮罩 */
.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  max-height: 2rem;
  /* 遮罩层的高度，可以根据需要调整 */
  background-color: transparent;
  /* 初始状态为透明 */
  z-index: 9999;
  /* 确保遮罩层位于最上层 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  /* 添加过渡效果 */
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0);
  /* 鼠标悬浮时显示半透明黑色遮罩 */
}

.arrow-container {
  display: none;
}

.overlay:hover .arrow-container {
  display: flex;
  /* 鼠标悬浮时显示箭头 */
  flex-direction: column;
  align-items: center;
  animation: slideArrow 1.5s linear infinite;
  /* 箭头动画 */
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  /* 增加箭头的宽度 */
  border-right: 15px solid transparent;
  /* 增加箭头的宽度 */
  border-bottom: 20px solid rgba(255, 255, 255, 1);
  /* 半透明箭头 */
  /* 箭头的高度 */
  cursor: pointer;
  /* 鼠标指针样式为手型 */
  margin-bottom: 5px;
  /* 箭头之间的间距 */
}

@keyframes slideArrow {
  0% {
    transform: translateY(50%);
    opacity: 0;
    /* 开始时完全透明 */
  }

  50% {
    opacity: 0.5;
    /* 中间半透明 */
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
    /* 结束时完全不透明 */
  }
}

/* 公告栏 */
.overlay-notice-board {
  position: fixed;
  top: 0;
  left: 10;
  width: var(--overlay-notice-board-width);
  height: var(--overlay-notice-board-height);
  /* 遮罩层的高度，可以根据需要调整 */
  background-color: rgba(183, 183, 183, 0.2);
  border-radius: 100px;
  /* 初始状态为透明 */
  z-index: 9999;
  /* 确保遮罩层位于最上层 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.9s ease;
  /* 添加过渡效果 */
}

.overlay-notice-board:hover {
  background-color: rgba(174, 172, 172, 0.98);
}

.line-container {
  display: none;
}

@keyframes wave {
  0% {
    transform: translateY(0);
    /* 初始位置 */
    color: rgb(69, 255, 2);
    /* 初始颜色 */
  }

  50% {
    transform: translateY(-5px);
    /* 上升 */
    color: rgb(255, 69, 2);
    /* 变换颜色 */
  }

  100% {
    transform: translateY(0);
    /* 返回初始位置 */
    color: rgb(69, 2, 255);
    /* 变换颜色 */
  }
}

.overlay-notice-board .outside-text {
  align-items: center;
  color: rgb(69, 255, 2);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem;
  display: inline-block;
  /* 将文本变成内联块元素，以便应用动画 */
  animation: wave 1s infinite;
}

.overlay-notice-board:hover .outside-text {
  display: none;
}

.overlay-notice-board:hover .line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 30px;
  /* 横线的长度 */
  height: 4px;
  /* 横线的高度 */
  background-color: #ad7a66;
  /* 横线的颜色 */
  margin-bottom: 5px;
  /* 横线之间的间距 */
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 选项居中对齐 */
  flex-direction: row;
  background-color: #333;
  /* 选项区背景颜色 */
}

.text-contianer {
  background-color: #d8d1d1;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  /* 设置气泡内部的填充 */
}

.option {
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(125, 121, 121);
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 0;
  border: none;
  font-weight: bold;
}

.option.selected {
  background-color: #ffffff;
  color: #000000;
}

.option span {
  display: inline-block;
}

.notice-item {
  position: relative;
  background-color: #50f399;
  border-radius: 10px;
  padding: 20px;
  /* 增加 padding */
  margin-bottom: 10px;
  max-width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.notice {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  /* 文本字体大小 */
  color: #efff0c;
  /* 文本颜色 */
  font-weight: bold;
  /* 文本加粗 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* 文本阴影效果 */
  margin-left: 1rem;
  max-width: 75%;
  word-wrap: break-word;
  /* 控制单词如何被断开，以允许换行 */
  overflow-wrap: break-word;
  /* 对于非单词断开的情况，同样允许换行 */
}

.timestamp {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  /* 时间戳字体大小 */
  color: #fff;
  /* 时间戳颜色 */
  font-style: italic;
  /* 时间戳斜体 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* 时间戳阴影效果 */
  margin-right: 0.5rem;
  word-wrap: break-word;
  /* 控制单词如何被断开，以允许换行 */
  overflow-wrap: break-word;
  /* 对于非单词断开的情况，同样允许换行 */
}

/* 分享按钮 */
.share-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.share-button img {
  width: 30px;
  height: 30px;
}

.share-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

.share-modal {
  position: fixed;
  /* 使用fixed定位，使其相对于浏览器视口固定位置 */
  bottom: 0;
  /* 位于屏幕底部 */
  left: 0;
  /* 从左侧开始 */
  width: 100%;
  /* 占据整个屏幕宽度 */
  background-color: rgba(255, 255, 255, 0.9);
  /* 设置背景颜色 */
  padding: 20px;
  /* 添加内边距 */
  border-radius: 10px;
  /* 添加边框圆角 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* 添加阴影效果 */
  z-index: 999;
  /* 确保弹出窗口位于其他内容之上 */
}

.share-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  position: relative;
  margin-top: 0.5rem;
}

.text-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: jump 1s infinite alternate;
  font-weight: bold;
  /* 定义动画 */
}

.jumping-text {
  color: #525147;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

/* 定义跳动动画 */
@keyframes jump {
  from {
    top: -10px;
  }

  to {
    top: 0px;
  }
}

/* three.js  */
/* #renderer-container {} */

/* Switch.css */

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  cursor: pointer;
}

.switch-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(253, 254, 255);
  transition: transform 0.3s ease;
}

.switch.on {
  background-color: #6fcf97;
}

.switch.on .switch-toggle {
  transform: translateX(30px);
}

.switch.off .switch-toggle {
  transform: translateX(0);
}

.switch-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #555;
  padding: 1 1px;
}

.switch.on .switch-label {
  left: 5px;
}

.switch.off .switch-label {
  right: 5px;
}

/* icon */
.icon {
  margin: 0;
  cursor: pointer;
}

/* invite-video-chat-modal */
.invite-video-chat-modal {
  background: #d4d9db;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
}

.return-menu-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #3a3e39;
  background-color: #7d7676;
  /* 按钮背景色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* 添加轻微阴影 */
  transition: background-color 0.3s, color 0.3s;
  /* 添加悬停效果过渡 */
  position: fixed;
  right: 0;
  top: 0;
}

.return-menu-button[disabled] {
  background-color: #dddddd;
  /* 设置禁用状态背景色为灰色 */
  color: #999999;
  /* 设置禁用状态文字颜色为灰色 */
  cursor: not-allowed;
  /* 设置禁用状态鼠标样式为禁止 */
}

/* 悬停效果 */
.return-menu-button:not([disabled]):hover {
  background-color: #e28271;
}