:root {
  --square-size: 1.39em;
  --square-color: #885727;
  --square-bomb-color: #ff0909;
  --square-current-color: #885727;
  --square-growth-black-color: #0c4204;
  --square-growth-black-opacity: 0.9;
  --square-growth-white-color: #2dcd55;
  --square-growth-white-opacity: 0.9;
  --square-frozen-color: #70c8dc;
  --square-frozen-opacity: 0.8;
  --piece-color: #FFFFFF, transparent;
  --piece-winner-color: #2c09c9;
  --piece-white-frozen-opacity: 0.8;
  --piece-black-frozen-opacity: 0.8;
  --piece-white-frozen-background: linear-gradient(45deg, #827fbe, #a0e1df);
  --piece-black-frozen-background: linear-gradient(45deg, #432499, #105957);
  --piece-black-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3),
    /* 中间 */
    10px 0 10px 5px rgba(0, 0, 0, 0.3),
    /* 右 */
    -10px 0 10px 5px rgba(0, 0, 0, 0.3),
    /* 左 */
    0 10px 10px 5px rgba(0, 0, 0, 0.3),
    /* 下 */
    0 -10px 10px 5px rgba(0, 0, 0, 0.3);
  /* 上 */
  /* 上 */
  --piece-white-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3),
    /* 中间 */
    10px 0 10px 5px rgba(255, 255, 255, 0.3),
    /* 右 */
    -10px 0 10px 5px rgba(255, 255, 255, 0.3),
    /* 左 */
    0 10px 10px 5px rgba(255, 255, 255, 0.3),
    /* 下 */
    0 -10px 10px 5px rgba(255, 255, 255, 0.3);
  /* 上 */
  --item-used-status-span-color: green;

  --gamelog-button-width: 70vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.square {
  background: var(--square-color);
  background-image: url('/public/picture/square.png');
  background-size: cover;
  /* 让背景图片占满整个元素 */
  background-position: center;
  /* 将背景图片居中显示*/
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  height: var(--square-size);
}

.square:hover {
  background: rgb(203, 194, 23);
}

.square-bomb {
  background: var(--square-bomb-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
}

.square-bomb:hover {
  background: rgb(203, 194, 23);
}

.square-growth-black {
  background: var(--square-growth-black-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  opacity: var(--square-growth-black-opacity);
}

.square-growth-black:hover {
  background: rgb(203, 194, 23);
}

.square-growth-white {
  background: var(--square-growth-white-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  opacity: var(--square-growth-white-opacity);
}

.square-growth-white:hover {
  background: rgb(203, 194, 23);
}

.square-current-piece {
  background: var(--square-current-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
}

.square-frozen {
  background: var(--square-frozen-color);
  /* border: 1px solid #0f0e0e; */
  border: none;
  float: left;
  font-size: var(--square-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
  opacity: var(--square-frozen-opacity);
}

.piece-blank {
  width: 90%;
  height: 90%;
  background-color: var(--piece-color);
  border-radius: 50%;
  display: block;
  margin: 1px;
}

.piece-bomb {
  width: 100%;
  height: 100%;
  background-color: var(--piece-color);
  background-image: url('/public/picture/bomb.png');
  background-size: cover;
  /* 让背景图片占满整个元素 */
  background-position: center;
  /* 将背景图片居中显示*/
  display: block;
}

.piece-black {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-black-with-sword {
  background-image: url(/public/picture/sword.jpg);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);

  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid black;
  box-shadow: var(--piece-black-box-shadow);
}

.piece-black-with-bow {
  background-image: url(/public/picture/bow.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);

  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid black;
  box-shadow: var(--piece-black-box-shadow);
}

.piece-black-with-infectPotion {
  background-image: url(/public/picture/infectPotion.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);

  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid black;
  box-shadow: var(--piece-black-box-shadow);
}

.piece-black-frozen {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
  opacity: var(--piece-black-frozen-opacity);
  background: var(--piece-black-frozen-background);
}

.piece-white {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
}

.piece-white-with-sword {
  background-image: url(/public/picture/sword.jpg);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid white;
  box-shadow: var(--piece-white-box-shadow);
}

.piece-white-with-bow {
  background-image: url(/public/picture/bow.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid white;
  box-shadow: var(--piece-white-box-shadow);
}

.piece-white-with-infectPotion {
  background-image: url(/public/picture/infectPotion.png);
  background-size: cover;
  filter: brightness(110%) contrast(110%) saturate(120%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: block;
  margin: 1px;
  border: 3px solid white;
  box-shadow: var(--piece-white-box-shadow);
}

.piece-white-frozen {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-color: gray;
  display: block;
  margin: 1px;
  opacity: var(--piece-white-frozen--opacity);
  background: var(--piece-white-frozen-background);
}

.piece-winner {
  width: 90%;
  height: 90%;
  background-color: var(--piece-winner-color);
  border-radius: 50%;
  border-color: rgb(232, 6, 6);
  border-width: 3px;
  /* 设置边框宽度为5像素，根据需要调整 */
  border-style: solid;
  /* 设置边框样式为实线，根据需要调整 */
  display: block;
}

.piece-black-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-black-can-not-be-destroyed-frozen {
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
  opacity: var(--piece-black-frozen--opacity);
  background: var(--piece-black-frozen-background);
}

.piece-white-can-not-be-destroyed {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
}

.piece-white-can-not-be-destroyed-frozen {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: gold;
  display: block;
  margin: 1px;
  opacity: var(--piece-white-frozen-opacity);
  background: var(--piece-white-frozen-background);
}

.piece-name {
  font-size: 1.5em;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.item-name-button {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  /* 设置文字阴影 */
  /* 如果浏览器支持，你也可以尝试使用 text-stroke */
  -webkit-text-stroke: 1px var(--item-used-status-span-color);
  /* 设置文字描边 */
  -moz-text-stroke: 1px var(--item-used-status-span-color);
  -ms-text-stroke: 1px var(--item-used-status-span-color);
  -o-text-stroke: 1px var(--item-used-status-span-color);
  font-size: 1em;
}

/* .item-used-status-span {
  color: var(--item-used-status-span-color);
  margin-left: 6px;
} */

.span-blank {
  margin-right: 20px;
}

.piece-status {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.button-normal {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #2b2a2a;
  background-color: #d6c1c1;
  /* 按钮背景色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* 添加轻微阴影 */
  transition: background-color 0.3s, color 0.3s;
  /* 添加悬停效果过渡 */
}

/* 悬停效果 */
.button-normal:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  align-items: center;
  z-index: 999;
}

.button-container>* {
  margin-left: 5px;
  margin-right: 5px;
  /* 设置按钮之间的间距 */
}

.button-confirm-container {
  display: flex;
  justify-content: flex-end;
  /* 将项目在主轴上居右对齐 */
  z-index: 999;
}

.button-confirm-container>* {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* 设置按钮之间的间距 */
}

.side-button-container {
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  align-items: center;
  /* 水平居中对齐 */
}

/* 可以为按钮添加样式 */
.side-button-container button {
  margin-bottom: 10px;
  /* 按钮之间的垂直间距 */
}

.game {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  width: 100%;
  /* height: 100vh; */
  /* 如果希望填满视口 */
  margin-top: 0px;
  margin-bottom: 5px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  /* 设置背景颜色并添加透明度 */
  backdrop-filter: blur(10px);
  /* 添加背景模糊效果 */
  border-radius: 10px;
  /* 设置边框圆角 */
  padding: 5px;
  /* 内边距 */
  margin-bottom: 5px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.game-container {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100vh;
  /* 填满整个视口高度 */
}

/*计时器*/
.timer {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  color: red;
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

/*游戏操作日志*/
.gamelog-button {
  border: 2px solid #ccc;
  color: rgb(255, 255, 255);
  background-color: rgba(150, 138, 138, 0.5);
  /* 设置背景颜色并添加透明度 */
  backdrop-filter: blur(10px);
  /* 添加背景模糊效果 */
  border-radius: 10px;
  /* 设置边框圆角 */
  padding: 5px;
  /* 内边距 */
  margin-bottom: 5px;
  width: var(--gamelog-button-width);
  margin-left: 20px;
  margin-right: 20px;
}

.gamelog-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamelog-modal {
  background: #ada5a5;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  position: relative;
  overflow-y: auto;
  /* 添加垂直滚动条 */
}

.gamelog-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.gamelog-black-piece {
  color: red;
}

.gamelog-white-piece {
  color: blue;
}

/* 道具详情弹窗 */
.item-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* 使弹窗位于最顶层 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 设置一个较高的 z-index 值 */
}

.item-info {
  background: #ada5a5;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  position: relative;
  overflow-y: auto;
  /* 添加垂直滚动条 */
  font-weight: normal;
}

.item-info-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* 开局弹窗 */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.5s ease;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cancel-button {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #ff1744;
}

.loading-text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

/* 菜单 */
.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.menu-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 炫酷标题1 */
.menu-header h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* 设置 Sans-serif 字体族 */
  font-size: 50px;
  color: #ffffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ffff;
  animation: swirl 3s infinite linear;
}

@keyframes swirl {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* 为每个字母应用不同的动画 */
.menu-header h1 span {
  display: inline-block;
}

/* 定义随机抖动动画 */
@keyframes shake-x {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes shake-y {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* 应用动画到每个字母 */
.menu-header h1 span[class^="letter-"] {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.menu-header h1 span[class^="letter-"].letter-0 {
  animation-name: shake-x;
}

.menu-header h1 span[class^="letter-"].letter-1 {
  animation-name: shake-y;
}

.menu-header h1 span[class^="letter-"].letter-2 {
  animation-name: shake-x;
}

.menu-header h1 span[class^="letter-"].letter-3 {
  animation-name: shake-y;
}

.menu-header h1 span[class^="letter-"].letter-4 {
  animation-name: shake-x;
}

/* 炫酷标题2 */
.menu-header2 h1 {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* 为每个字母应用不同的动画 */
.menu-header2 h1 span {
  display: inline-block;
  margin: 6px;
  display: inline-block;
  font-size: 36px;
  /* 增加字体大小 */
  color: white;
  /* 可选：添加字体，以确保在没有默认字体的情况下有一个备选字体 */
  font-family: 'Arial', sans-serif;
}

/* 定义随机抖动动画 */
@keyframes shake-x {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes shake-y {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

/* 应用动画到每个字母 */
.menu-header2 h1 span[class^="letter-"] {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.menu-header2 h1 span[class^="letter-"].letter-0 {
  animation-name: shake-x;
}

.menu-header2 h1 span[class^="letter-"].letter-1 {
  animation-name: shake-y;
}

.menu-header2 h1 span[class^="letter-"].letter-2 {
  animation-name: shake-x;
}

.menu-header2 h1 span[class^="letter-"].letter-3 {
  animation-name: shake-y;
}

.menu-header2 h1 span[class^="letter-"].letter-4 {
  animation-name: shake-x;
}


.menu-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-item {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;

  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.05);
}


.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

.menu-item p {
  color: #666;
}

.menu-item button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item button:hover {
  background-color: #0056b3;
}

/* 菜单footer */
.menu-footer {
  border-top: 1px solid #ccc;
  background-color: #ffffff, transparent;
  color: #5d5656;
  padding: 20px;
  text-align: center;
  /* 使用百分比宽度 */
}

.github-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.github-info p {
  margin-bottom: 5px;
}

.github-info a {
  color: #5c1a1a;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.github-info a:hover {
  color: #007bff;
}

/* 在线信息 */
.highest-online-users {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  position: fixed;
  /* 将定位改为固定定位 */
  top: 20px;
  /* 距离顶部的距离 */
  right: 20px;
  /* 距离右侧的距离 */
  overflow: hidden;
  font-family: "Arial", "Helvetica", sans-serif;
  /* 更改字体族 */
}

.highest-online-users .count {
  font-weight: bold;
  margin-right: 10px;
  animation: heartbeat 1.5s infinite alternate;
}

.highest-online-users .icon {
  font-size: 16px;
  vertical-align: middle;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

.highest-online-users::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff5722, #e91e63, #9c27b0, #2196f3, #00bcd4, #4CAF50, #8BC34A, #FFC107, #FF5722);
  top: 0;
  left: 0;
  z-index: -1;
  animation: rainbow 10s linear infinite;
  background-size: 300% 300%;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}