:root {
    --live-chat-panel-width: 30%;
    --live-chat-panel-height: 100%;
}

.floating-button-container {
    position: relative;
    display: flex;
    width: 4rem;
    height: 4rem;
    max-width: 8rem;
    max-height: 8rem;
    /* z-index: 101; */
}

.floating-button {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgb(255, 123, 0); */
    background-image: url(/public/picture/svg/FloatButtonIcon.svg);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button.dragging {
    width: 8rem;
    height: 8rem;
}

.floating-button-options {
    position: fixed;
    top: 0;
    left: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    width: 10rem;
}

.floating-button-options.expand {
    display: flex;
}

.floating-button-options.left {
    top: -2.5rem;
    left: 4rem;
}

.floating-button-options.right {
    top: -2.5rem;
    left: -10rem;
}

.floating-button-options.top {
    top: 4rem;
    left: -2rem;
}

.floating-button-options.bottom {
    top: -10rem;
    left: -2rem;
}

.floating-button-options button {
    padding: 0.2rem 0.4rem;
    margin: 0;
    background-color: #0277f5;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button-options button[disabled] {
    background-color: #dddddd;
    color: #999999;
    cursor: not-allowed;
}

.floating-button-options button:not([disabled]):hover {
    background-color: #044182;
}

.progress-bar {
    margin-top: 1rem;
    margin-bottom: 0;
}

/*  */
.video-recorder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 直播 */
#exit-live-btn {
    width: 6rem;
    max-width: 25%;
    background-color: red;
    color: white;
}

#exit-live-btn:disabled {
    background-color: #dddddd;
    color: #999999;
    cursor: not-allowed;
}

.live-chat-panel {
    position: relative;
    /* border: 1px solid #e4e3e3; */
    overflow: hidden;
    background-color: black;
    width: var(--live-chat-panel-width);
    height: var(--live-chat-panel-height);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    order: 3;
}

.live-chat-panel.display-none {
    display: none;
}

.live-chat-panel.mobile {
    width: 100%;
    height: 30%;
    order: 0;
}

.live-input-container {
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.live-input-container textarea {
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 2rem;
    margin-left: 1px;
    margin-bottom: 1px;
    background-color: transparent;
    color: white;
}

.live-input-container button {
    width: 6rem;
    padding: 8px 16px;
    background-color: #3eb642;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.live-chatpanel-close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
}

.live-message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}


/* 隐藏滚动条样式 */
.live-message-container::-webkit-scrollbar {
    width: 0;
    /* 隐藏滚动条宽度 */
    background: transparent;
    /* 背景透明 */
}

.live-message {
    padding: 0;
    background-color: transparent;
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 0 10px 10px 0;
    max-width: 100%;
}

.msg-timestamp {
    color: rgb(178, 178, 178);
}

.msg-inline {
    max-width: 100%;
    margin-bottom: 1rem;
}

.msg-container {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    opacity: 0.8;
}

.msg-name {
    color: gray;
    margin-right: 10px;
}

.msg-info {
    color: white;
    background-color: #434343;
}

.msg-name,
.msg-info {
    margin: 0.1rem 0;
}

.live-message.me .msg-name {
    color: rgb(168, 143, 75);
}

.live-message.me .msg-info {
    color: rgb(255, 187, 0);
}

.live-message.anchor .msg-name {
    color: rgb(127, 9, 9);
}

.live-message.anchor .msg-info {
    color: red;
}

/* 直播间主页 */
.live-stream-home-page {
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #111111;
    z-index: 19;
}

.live-room-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 20px;
}

.live-room {
    background-color: #262626;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.live-room span#rid {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.live-room span#nviewer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.room-thumbnail {
    width: 100%;
    border-radius: 8px;
}

.enter-live-room-icon-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}

.enter-live-room-icon-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.enter-live-room-icon {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  MediaTrackSettings*/
.video-settings {
    padding: 0.5rem;
    border-top: 1px solid gray;
}

.audio-settings {
    padding: 0.5rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}