.floating-button-container {
    position: relative;
    display: flex;
    width: 4rem;
    height: 4rem;
    max-width: 8rem;
    max-height: 8rem;
    /* z-index: 101; */
}

.floating-button {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgb(255, 123, 0); */
    background-image: url(/public/picture/svg/FloatButtonIcon.svg);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button.dragging {
    width: 8rem;
    height: 8rem;
}

.floating-button-options {
    position: fixed;
    top: 0;
    left: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    width: 10rem;
}

.floating-button-options.expand {
    display: flex;
}

.floating-button-options.left {
    top: -2.5rem;
    left: 4rem;
}

.floating-button-options.right {
    top: -2.5rem;
    left: -10rem;
}

.floating-button-options.top {
    top: 4rem;
    left: -2rem;
}

.floating-button-options.bottom {
    top: -10rem;
    left: -2rem;
}

.floating-button-options button {
    padding: 0.2rem 0.4rem;
    margin: 0;
    background-color: #0277f5;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button-options button[disabled] {
    background-color: #dddddd;
    color: #999999;
    cursor: not-allowed;
}

.floating-button-options button:not([disabled]):hover {
    background-color: #044182;
}

.progress-bar {
    margin-top: 1rem;
    margin-bottom: 0;
}

/*  */
.video-recorder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#exit-live-btn {
    width: 6rem;
    max-width: 25%;
    background-color: red;
    color: white;
}

#exit-live-btn:disabled {
    background-color: #dddddd;
    color: #999999;
    cursor: not-allowed;
}